// global font

$font-size: 16px;
$font-family: Arial, Helvetica, sans-serif;

$box-shadow-1 : 0px 10px 50px rgb(0 0 0 / 10%);
$box-shadow-2 : 0px 12px 25px rgb(23 29 84 / 20%);
$box-shaow-fields: inset 0 0 3px 3px rgb(201, 198, 198);
$gradient_1 : linear-gradient(#ffcd37, #d19317);
$gradient_2: linear-gradient(#4d50ab 0%, #493d89 100%);

$text-shadow: 0px 8px 24px rgb(0 0 0 / 25%);


$bgcolor: #d2e1fd;
$color-1: #ffffff;
$color-2: #d2e1ff;
$color-3: #dedede;

$space_default : 15px;